@use "../helpers/variables";
@use "../helpers/mixins";

// Fuente de IcoMoon
@font-face {
  font-family: 'icomoon';
  src:  url('../images/icomoon.eot?lcy0zb');
  src:  url('../images/icomoon.eot?lcy0zb#iefix') format('embedded-opentype'),
        url('../images/icomoon.ttf?lcy0zb') format('truetype'),
        url('../images/icomoon.woff?lcy0zb') format('woff'),
        url('../images/icomoon.svg?lcy0zb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Iconos
.icon-arrow-dropdown:before { content: "\e901"; color: variables.$primary500; }
.icon-burger_menu:before   { content: "\e902"; color: variables.$primary500; }
.icon-globe:before         { content: "\e903"; color: variables.$primary500; }
.icon-user:before          { content: "\e904"; color: variables.$primary500; }
