/** CSS LIBS **/ 

/** HELPERS **/
@use "helpers/mixins" as *;    
@use "helpers/variables" as *;
@use "helpers/icons-variables";
@use "helpers/custom";

/** BASE **/
@use "base/normalize";
@use "base/fonts";
@use "base/base";
@use "base/base-clases";

/** LAYOUT **/
@use "layout/header";
@use "layout/navigation";
@use "layout/footer";

/** FRAGMENTS **/

/** COMPONENTS **/


// Esto es una prueba para ver cambios
body {
  background-color: pink;
}
