section.client
    .client__wrapper
        .client-header
            h3.renovaciones__title Clientes Potenciales

        .client-grid
            .client-card
                .client-card__top
                    .client-card__header
                        span.client-card__name José Carlos Rodríguez
                        button.client-card__icon.icon.icon-trash-alt(type="button")
                    .client-card__offer Producto a ofrecer: Seguro de moto
                .client-card__bottom
                    .client-card__contact
                        span.client-card__mail Email: Jose.rod@gmail.com
                        span.client-card__phone Teléfono: +34 258 632 555
            .client-card
                .client-card__top
                    .client-card__header
                        span.client-card__name Ana Perffeti
                        button.client-card__icon.icon.icon-trash-alt(type="button")
                    .client-card__offer Producto a ofrecer: Seguro de casa
                .client-card__bottom
                    .client-card__contact
                        span.client-card__mail Email: ana.per@gmail.com
                        span.client-card__phone Teléfono: +34 258 632 444
