
.header__dropdown-languages
  span.header__dropdown-item Español
  span.header__dropdown-item English
  span.header__dropdown-item Catalán
  span.header__dropdown-item Gallego
  span.header__dropdown-item Euskera

