.nav-user
  
  .nav-user__info
    span.nav-user__title Mi perfil
    span.nav-user__description En este espacio puedes acceder, modificar, gestionar y consultar todo lo relacionado con tus servicios de energía. Fácil y rápido. 
  
  
  a.nav-user__item(href="#")
    i.icon-user 
    span Mis datos personales
  a.nav-user__item(href="#")
    i.icon-lock 
    span Mi contraseña
  a.nav-user__item(href="#")
    i.icon-phone
    span Contacto
  a.nav-user__item(href="#")
    i.icon-power-off
    span Cerrar sesión