
.dropdown-user
  .dropdown-user__item
    span Mi perfil
    span En este espacio puedes acceder, modificar, gestionar y consultar todo lo relacionado con tus servicios de energía. Fácil y rápido. 
    i.icon-user 
    span Mis datos personales
  .dropdown-user__item
    i.icon-lock 
    span Mi contraseña
  .dropdown-user__item
    i.icon-phone
    span Contacto
  .dropdown-user__item
    i.icon-power-off
    span Cerrar sesion
