section.renovaciones
    .renovaciones__wrapper
        

        -
            const itemsRenovaciones = Array.isArray(clientesData) ? clientesData.slice(0, 10) : [];

        .renovaciones__container
            table.tabla-renovaciones
                thead.tabla-renovaciones__head
                    tr.tabla-renovaciones__head-row
                        th.tabla-renovaciones__head-cell No. de póliza
                        th.tabla-renovaciones__head-cell Nombre del riesgo
                        th.tabla-renovaciones__head-cell Fecha de contrato
                        th.tabla-renovaciones__head-cell Fecha de vencimiento
                        th.tabla-renovaciones__head-cell Importe
                        th.tabla-renovaciones__head-cell Estado de la póliza
                tbody.tabla-renovaciones__body
                    
