section.renovaciones-options
	.renovaciones-options__container
		.renovaciones-options__info
			.renovaciones-options__filters-row
				button.renovaciones-options__filtros(type="button" aria-label="Abrir filtros" aria-expanded="false" aria-controls="renovaciones-filter-menu")
					i.icon-filter
					span Filtros
				.renovaciones-options__filters-applied
					// Las etiquetas se insertarán dinámicamente por JS

			.renovaciones-options__meta
				.renovaciones-options__orden
					span.renovaciones-options__orden-label Ordenar por:
					select.renovaciones-options__orden-select(name="ordenar" aria-label="Ordenar por")
						option(value="importe") Mayor importe
						option(value="poliza") No. de póliza
						option(value="riesgo") Riesgo
						option(value="contrato") Fecha contrato
						option(value="vencimiento") F. vencimiento					
						option(value="estado") Estado

		
