section.renovaciones-tabla
	.renovaciones-tabla__container
		.renovaciones-tabla__info
			button.renovaciones-tabla__filtros(type="button" aria-label="Abrir filtros")
				i.icon-filter
				span Filtros

			.renovaciones-tabla__meta
				.header-renovaciones__tag
					span.header-renovaciones__total 770
					span.header-renovaciones__etiqueta Pólizas

				.renovaciones-tabla__orden
					span.renovaciones-tabla__orden-label Ordenar por:
					select.renovaciones-tabla__orden-select(name="ordenar" aria-label="Ordenar por")
						option(value="importe") Mayor importe
						option(value="poliza") No. de póliza
						option(value="riesgo") Nombre del riesgo
						option(value="contrato") Fecha de contrato
						option(value="vencimiento") Fecha de vencimiento					
						option(value="estado") Estado de la póliza

		
