.header-renovaciones
    
    .header-renovaciones__breadcrumbs
        .header-renovaciones__subtitulo
            span.header-renovaciones__polizas Pólizas 
            span.separacion /
            span.header-renovaciones__proximas Próximas renovaciones

    
    .header-renovaciones__tags
        h1.header-renovaciones__titulo Próximas renovaciones
        
        .header-renovaciones__tag
            span.icon-file
            span.header-renovaciones__total 770
            span.header-renovaciones__etiqueta Pólizas
            