$icon-arrow-dropdown : "\e900";
$icon-arrow-right    : "\e901";
$icon-back           : "\e902";
$icon-skip-left      : "\e90f";
$icon-skip-right     : "\e910";

// Menú e Interfaz
$icon-burger_menu    : "\e903";
$icon-close          : "\e906";
$icon-filter         : "\e908";
$icon-frame-1021     : "\e909";

// Estados y Tiempo
$icon-check          : "\e904";
$icon-clock          : "\e905";

// Comunicación y Usuario
$icon-globe          : "\e90a";
$icon-lock           : "\e90b";
$icon-mail           : "\e90c";
$icon-phone          : "\e90d";
$icon-telephone      : "\e90d"; 
$icon-user           : "\e912";

// Acciones y Sistema
$icon-power-off      : "\e90e";
$icon-trash-alt      : "\e911";
$icon-file           : "\e907";