/* Convert px to rem 
    - example of usage: @include toRem(font-size, 20px);
*/
@mixin toRem($property, $value, $base: 16px) {
    #{$property}: #{$value / $base}rem;
}

@mixin font-h1 {
  font-family: $font-primary;
  font-weight: bold;
  font-size: 64px;
  letter-spacing: 0;
}
