/* Convert px to rem 
    - example of usage: @include toRem(font-size, 20px);
*/
@use 'sass:math';
@use '../helpers/variables' as *;



@function rem($pixel) { // La nueva funcion usando math
  
  @return math.div(math.div($pixel, 1px), 16) * 1rem;
}



@mixin text-style($font-size, $font-weight: $weight-regular, $line-height: normal, $letter-spacing: 0, $font-family: $font-family-roboto) {
  font-family: $font-family;
  font-size: rem($font-size);
  font-weight: $font-weight;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
}

@mixin flex-center($justify: flex-start, $gap: 0) {
  display: flex;
  align-items: center; 
  justify-content: $justify;
  gap: rem($gap);
}

@mixin position-dropdown {
  position: absolute;
  top: rem($header-height);
  z-index: 9999;
}