/* Convert px to rem 
    - example of usage: @include toRem(font-size, 20px);
*/
@use '../helpers/variables' as *;

//PROBLEMAS CON LA VERSION DE ESTE MIXIN !!!!!!
@mixin toRem($property, $value, $base: 16px) {
    #{$property}: ($value / $base) * 1rem;
}


@function rem($pixel) {
  // Dividir por 1px elimina la unidad "px"
  @return ($pixel / 1px / 16) * 1rem;
}


@mixin text-style($font-size, $font-weight: $weight-regular, $line-height: normal, $letter-spacing: 0, $font-family: $font-family-roboto) {
  font-family: $font-family;
  font-size: rem($font-size);
  font-weight: $font-weight;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
}

@mixin flex-center($justify: flex-start, $gap: 0) {
  display: flex;
  align-items: center; 
  justify-content: $justify;
  gap: rem($gap);
}