extends layouts/layout-home

block vars
    - var pageTitle = "Homepage";
    - var pageClass = "home-page";

block content
    include hero.pug
    include tabla.pug

    //- sección de clientes para mostrar tarjetas en tiempo real
    include templates/clientes.pug