extends layouts/layout-home

block vars
    - var pageTitle = "Homepage";
    - var pageClass = "home-page";

block content
    //- Esta sección será la que lleve el fondo
    section.hero-home
        hero-home__wrapper
            hero-home__content
                h1.hero-home__title Bienvenido a tu área personal
                p.hero-home__subtitle Gracias a ti más personas pueden disfrutar de una vida más segura