extends layouts/layout-home

block vars
    - var pageTitle = "Homepage";
    - var pageClass = "home-page";

block content
    include templates/hero.pug
    include templates/tabla.pug

    
    include templates/clientes.pug