extends layouts/layout-home

block vars
    - var pageTitle = "Homepage";
    - var pageClass = "home-page";

block content
    //- Esta sección será la que lleve el fondo
    section.hero-home
        .hero-home__wrapper
            //- Aquí irán tus futuros divs con texto El resto de estilos se han eliminado para reducir el peso del proyecto.