extends layouts/layout-home

block vars
    - var pageTitle = "Renovaciones";
    - var pageClass = "renovaciones-page";

block content
    include templates/renovaciones-header.pug
    include templates/renovaciones-tabla.pug

