@font-face {
  font-family: 'icomoon';
  src:  url('../images/iconos/icomoon.eot?sya08f');
  src:  url('../images/iconos/icomoon.eot?sya08f#iefix') format('embedded-opentype'),
        url('../images/iconos/icomoon.ttf?sya08f') format('truetype'),
        url('../images/iconos/icomoon.woff?sya08f') format('woff'),
        url('../images/iconos/icomoon.svg?sya08f#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}


[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  //speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lock:before {
  content: "\e900";
  color: #4b98d9;
}
.icon-phone:before {
  content: "\e905";
  color: #4b98d9;
}
.icon-power-off:before {
  content: "\e906";
  color: #4b98d9;
}
.icon-arrow-dropdown:before {
  content: "\e901";
  color: #4b98d9;
}
.icon-burger_menu:before {
  content: "\e902";
  color: #4b98d9;
}
.icon-globe:before {
  content: "\e903";
  color: #4b98d9;
}
.icon-user:before {
  content: "\e904";
  color: #4b98d9;
}
