@use '../helpers/variables' as *;
@use '../helpers/mixins' as *;



/* sección principal */
.client {
  width: 100%;
  background-color: transparent;
  padding-bottom: rem(80px);
  //padding: rem(40px) 0;
  font-family: 'Roboto', sans-serif; 
}

.client__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: rem(1392px);
  gap: rem(32px);
  padding: 0 rem(16px);
  margin: 0 auto;
  box-sizing: border-box;
}

.client__title {
  font-size: rem(28px);
  font-weight: 600;
  color: $neutral500;
  margin: 0 0 rem(24px);
}

.client-grid {
  width: 100%;
  max-width: rem(1392px); 
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: rem(32px);
  
  box-sizing: border-box;
}

/* tarjetas */
.client-card {
  width: 100%;
  font-family: $font-family-roboto;
  background-color: $white;
  border-radius: rem(12px);
  overflow: hidden;
  box-shadow: 0 rem(2px) rem(8px) rgba(0, 0, 0, 0.08);
}

.client-card__top {
  padding: rem(20px) rem(24px) 0;
}

.client-card__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: rem(12px);
}

.client-card__name {
  font-family: $font-family-roboto;
  font-size: rem(24px);
  color: $neutral500;
  font-weight: 400;
}

.client-card__icon {
  font-size: rem(18px);
  background: transparent;
  border: none;
  cursor: pointer;
  color: $neutral500;
}

.client-card__icon:hover {
  color: $primary500;
}

.client-card__offer {
  display: block;
  font-family: $font-family-roboto;
  font-size: rem(16px);
  color: #9FC3E2; 
  margin: rem(8px) 0 rem(16px);
}

.client-card__bottom {
  padding: rem(20px) rem(24px) rem(24px);
}

.client-card__contact {
  display: flex;
  gap: rem(24px);
  align-items: left;
  font-weight: 700;
}

.client-card__mail,
.client-card__phone {
  font-family: $font-family-roboto;
  font-size: rem(16px);
  color: #4B98D9; 
}


@media (max-width: $mobilexlMax) {
  .client {
    padding: rem(16px) 0;
    &__wrapper {
      padding: 0;
      align-items: stretch;
    }

    .client-header {
      width: 100%;
    }

    .client-header .renovaciones__title {
      text-align: left;
      margin-left: rem(16px);
    }

    .client-grid {
      grid-template-columns: 1fr;
      gap: rem(16px);
      padding: 0;
      max-width: 100%;
      justify-content: center;
      justify-items: center;
    }

    .client-card {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: min(100%, rem(343px));
      height: rem(326px);
      border-radius: rem(12px);
      padding: rem(16px) rem(24px);
      box-sizing: border-box;
    }

    .client-card__top {
      display: flex;
      flex-direction: column;
      width: rem(295px);
      min-height: rem(127px);
      gap: 0;
      padding: 0;
    }

    .client-card__header {
      margin-top: rem(58px);
    }

    .client-card__offer {
      margin: rem(10px) 0 0;
    }

    .client-card__bottom {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: rem(295px);
      height: rem(126px);
      gap: rem(24px);
      padding: rem(24px) 0 0;
    }

    .client-card__icon {
      position: absolute;
      top: rem(16px);
      right: rem(24px);
    }

    .client-card__contact {
      flex-direction: column;
      gap: rem(12px);
    }
  }
}

