@use "../helpers/variables";
@use "../helpers/mixins";
@use "../base/fonts";
.header {
  background-color: #ffffff;
  border-bottom: 2px solid #e9ecef;
  padding: 20px 0;
  width: 100%;

  &__menu {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none; 

    .header__item {
      list-style: none; 
      
      
      & + .header__item {
        margin-left: 10px;
      }
    }
  }

  &__link {
    color: #405258;
    font-size: 19px;
    font-weight: bold;
    text-decoration: none;
    white-space: nowrap;
    display: inline-block;
    
    &:hover {
      color: #0056b3; // O tu variable primary500
    }
  }

  &__profile-link,
  &__language-link {
    color: #000000;
    font-size: 19px;
    font-weight: normal;
    text-decoration: none;
    margin: 0 10px;
    white-space: nowrap;

    &:hover {
        text-decoration: none;
        color: #0056b3;
    }
  }

  &__icon {
    font-size: 22px;
    color: #0056b3;
    display: flex;
    align-items: center;
  }

  &__arrow-btn {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
}








