@use "../helpers/variables" as *;
@use "../helpers/mixins" as *;
@use "../base/fonts";

// HEADER

.header {
  background-color: $header-bg;
  border-bottom: rem(1px) solid $header-border;
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: $font-family-roboto; 

  @media (max-width: $mobilexlMax) {
    .header__container {
      height: rem(80px); 
      padding: rem(8px) rem($spacing-xl); 
      max-width: 100%; 
    }

    .header__left {
      .header__logo img {
        width: rem(87px); 
        height: rem(46px); 
        margin-top: rem(6px); 
        margin-left: rem(-4px);
      }
      .header__nav { display: none; }
    }

    .header__right {
      width: rem(80px); 
      height: rem(32px); 
      gap: rem($spacing-2xl); 
      justify-content: flex-end;

      .header__group--language, 
      .header__group--user .header__text, 
      .header__group--user i.icon-arrow-dropdown {
        display: none;
      }
    }

    .header__burger { display: block; }
  }
}

/* --- ESTILOS BASE (Desktop y Tablet) --- */

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: rem($header-max-width);
  height: rem($header-height);
  padding: 0 rem(88px);
  box-sizing: border-box;
}

.header__left {
  display: flex;
  align-items: center;
  gap: rem($spacing-3xl);

  .header__logo img {
    height: rem(64px);
    width: auto;
    display: block;
  }

  .header__nav {
    display: flex;
    gap: rem($spacing-3xl);
  }
}

.header__right {
  display: flex;
  align-items: center;
  gap: rem($spacing-2xl);
}

.header__link {
  text-decoration: none;
  color: $text-link;
  font-size: rem($spacing-xl);
  font-weight: $weight-bold;
}

.header__group {
  display: flex;
  align-items: center;
  gap: rem(8px);

  i {
    font-size: rem(20px);
    color: $color-icon;
  }

  .header__text {
    font-size: rem($spacing-xl);
    color: $black;
  }
}

.header__burger {
  display: none;
  font-size: rem(24px);
  color: $color-icon;
}

// DROPDOWNS

.dropdown-preview {
  position: absolute;
  top: rem($header-height); 
  right: rem(320px); 
  z-index: 9999;
  width: rem(130px);
  background-color: $white;
  border: rem(1px) solid $header-border;
  border-radius: rem(12px);
  box-shadow: $dropdown-shadow;
  padding: rem(10px) 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  .header__dropdown-item {
    display: block;
    width: 100%;
    padding: rem(10px) rem($spacing-xl);
    font-size: rem(14px);
    color: $text-link;
    text-align: left;
    white-space: nowrap;
    cursor: pointer;
    &:hover { background-color: $hover-bg; color: $color-icon; }
  }
}

.dropdown-user-preview {
  position: absolute;
  top: rem($header-height);
  right: rem(470px);
  z-index: 9999;
  width: rem(375px);
  background-color: $white;
  border: rem(1px) solid $header-border;
  border-radius: rem(12px);
  box-shadow: $dropdown-shadow;
  padding: rem($spacing-xl) 0;
  box-sizing: border-box;

  .dropdown-user {
    display: flex;
    flex-direction: column;
  }
}

.dropdown-user__item {
  display: flex;
  align-items: center;
  gap: rem($spacing-m);
  padding: rem(12px) rem(20px);
  cursor: pointer;
  text-decoration: none;

  i {
    font-size: rem(20px);
    color: $color-icon;
    width: rem(24px);
    text-align: center;
  }

  span {
    font-size: rem(14px);
    color: $text-link;
    font-weight: $weight-medium;
  }

  &:hover {
    background-color: $hover-bg;
    span { color: $color-icon; }
  }
}

/* PRIMER ITEM (Perfil especial) */
.dropdown-user__item:first-child {
  cursor: default;
  display: block; 
  border-bottom: rem(1px) solid $header-border;
  margin-bottom: rem(8px);
  padding: 0; 

  span:first-of-type { 
    display: block;
    padding: rem(16px) rem(20px) 0 rem(20px);
    font-size: rem(18px); 
    font-weight: $weight-bold; 
    color: $black; 
    margin-bottom: rem(8px); 
  }

  span:nth-of-type(2) { 
    display: block;
    padding: 0 rem(20px) rem(16px) rem(20px);
    font-size: rem(13px); 
    font-weight: $weight-regular; 
    line-height: 1.4; 
    color: $text-muted; 
    border-bottom: rem(1px) solid $header-border;
  }

  i, span:last-child {
    display: inline-block;
    vertical-align: middle;
    padding: rem(12px) 0;
    cursor: pointer;
  }

  i {
    margin-left: rem(20px);
    margin-right: rem($spacing-m);
  }

  span:last-child {
    font-size: rem(14px);
    color: $text-link;
    font-weight: $weight-medium;
  }

  &:hover {
    background-color: transparent; 
    span:last-child { color: $color-icon; }
  }
}

@media (max-width: $mobilexlMax) {
  .dropdown-preview, .dropdown-user-preview { display: none; }
}