@use "../helpers/variables" as *;
@use "../helpers/mixins" as *;
@use "../base/fonts";




// 1. HEADER 
.header {
  background-color: $header-bg;
  border-bottom: rem(1px) solid $header-border;
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: $font-family-roboto;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: rem($header-max-width);
  height: rem($header-height);
  padding: 0 rem(88px);
}

.header__left, .header__nav { 
  display: flex; 
  align-items: center; 
  gap: rem($spacing-3xl); 
}

.header__link {
  text-decoration: none;
  color: $text-link;
  font-size: rem($spacing-xl);
  font-weight: $weight-bold;
}

.header__logo img { 
  height: rem(64px); 
  width: auto; 
  display: block; 
}

.header__right {
  display: flex;
  align-items: center;
  gap: rem($spacing-3xl);
}

//iconos
.header__group {
  display: flex;
  align-items: center;
  gap: rem(8px);
  cursor: pointer;
  position: relative;
}

.header__group i { font-size: rem(24px); color: $color-icon; }
.header__group .header__text { font-size: rem($spacing-xl); color: $black; }

.header__group .icon-arrow-dropdown { 
  font-size: rem(16px); 
}

.header__burger { 
  display: none; 
  font-size: rem(24px); 
  color: $color-icon; 
  cursor: pointer;
}

// 2. MENÚ USUARIO
.nav-user {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 9999;
  width: rem(375px);
  background-color: $white;
  margin-top: rem(12px);
  box-shadow: $shadow-custom-menu;
  border: 1px solid #e0e0e0;
  border-radius: rem(12px); 
  overflow: hidden;
  padding: 0;
}

.nav-user .nav-user__info {
  display: block;
  padding: rem(24px) rem(24px) rem(22px);
  border-bottom: 1px solid #ddd;
  cursor: default;
}

.nav-user .nav-user__title {
  display: block;
  margin-bottom: rem(16px);
  font-size: rem(16px);
  font-weight: 700;
  color: $black;
}

.nav-user .nav-user__description {
  display: block;
  font-size: rem(14px);
  color: $text-muted;
  line-height: 1.4;
}

.nav-user .nav-user__item {
  display: grid;
  grid-template-columns: rem(24px) 1fr; 
  align-items: center;
  gap: rem($spacing-m);
  height: 61px;
  padding: 0 rem(20px);
  cursor: pointer;
  position: relative;
  background-color: $white;
  text-decoration: none;
}

// BARRA AZUL EN HOVER
.nav-user .nav-user__item::before {
  content: '';
  position: absolute;
  left: -1px;
  top: 0;
  bottom: 0;
  width: 4px;
  background-color: $primary300;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.nav-user .nav-user__item:hover {
  background-color: $hover-bg;
}

.nav-user .nav-user__item:hover::before {
  opacity: 1;
}

.nav-user .nav-user__item i { 
  font-size: rem(20px); 
  color: $color-icon; 
  text-align: center; 
}

.nav-user .nav-user__item span { 
  font-size: rem(14px); 
  color: $text-link; 
  font-weight: $weight-medium; 
}

.nav-user .nav-user__item:last-child {
  border-bottom: none;
}

// 3. MENÚ IDIOMAS
.nav-lang {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 9999;
  width: rem(140px);
  padding: rem(10px) 0;
  background-color: $white;
  border: 1px solid #ccc;
  border-radius: rem(12px);
  box-shadow: $shadow-large;
  margin-top: rem(12px);
  cursor: default;
  overflow: hidden;
}

.nav-lang .nav-lang__item {
  padding: rem(10px) rem($spacing-xl);
  font-size: rem(14px);
  color: $text-link;
  display: block;
  cursor: pointer;
  text-decoration: none;
}

.nav-lang .nav-lang__item:last-child { 
  border-bottom: none; 
}

.nav-lang .nav-lang__item:hover { 
  background-color: $hover-bg; 
  font-weight: $weight-bold;
  color: $text-link;         
}

// 4. MEDIA QUERIES
@media (max-width: $mobilexlMax) {
  .header__container {
    height: rem(80px);
    padding: 0 rem($spacing-xl);
  }

  .header__left .header__nav { 
    display: none; 
  }

  .header__group--language { 
    display: none; 
  }

  .header__group--user .header__text, 
  .header__group--user .icon-arrow-dropdown { 
    display: none; 
  }

  .header__burger { 
    display: block; 
  }

  .nav-user {
    width: 90vw;
    max-width: rem(375px);
    position: fixed;
    top: rem(80px);
    left: 50%;
    right: auto;
    transform: translateX(-50%);
    margin-top: rem(10px);
    border-radius: rem(12px);
  }
}