@use "../helpers/variables" as *;
@use "../helpers/mixins" as *;
@use "../base/fonts";

// SECCIÓN RENOVACIONES
section.renovaciones {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: rem(40px) 0;
  background-color: transparent;
}

div.renovaciones__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: rem(1392px);
  gap: rem(24px);
  padding: 0 rem(16px);
}

h3.renovaciones__title {
  width: fit-content; 
  min-width: rem(252px);
  height: rem(28px);
  font-family: $font-family-roboto;
  font-size: rem(24px);
  font-weight: 600;
  line-height: 1; 
  letter-spacing: 0;
  color: #353535;
  margin: 0;
  white-space: nowrap; // Fuerza a que esté en una sola línea
}

div.renovaciones__container {
  width: 100%;
}

table.tabla-renovaciones {
  width: 100%;
  border-collapse: separate; 
  border-spacing: 0 rem(24px); 
  font-family: $font-family-roboto;
  margin-top: rem(-24px); 
}

th.tabla-renovaciones__head-cell {
  height: rem(34px);
  padding: rem(5px) rem(16px);
  text-align: left;
  font-family: $font-family-roboto;
  font-size: rem(16px);
  font-weight: 400;
  line-height: 1;
  color: #405258;
  border-bottom: rem(1px) solid #A7B8BF;
}

tr.tabla-renovaciones__row {
  height: rem(76px);
  background-color: $white;
  box-shadow: 0 rem(8px) rem(20px) 0 rgba(55, 70, 73, 0.1);
}

td.tabla-renovaciones__cell {
  padding: rem(24px) rem(16px);
  font-family: $font-family-roboto;
  font-size: rem(16px);
  font-weight: 400;
  color: #111827;
  line-height: 1;
  vertical-align: middle;
}

td.tabla-renovaciones__cell:first-child {
  border-top-left-radius: rem(8px);
  border-bottom-left-radius: rem(8px);
}

td.tabla-renovaciones__cell:last-child {
  border-top-right-radius: rem(8px);
  border-bottom-right-radius: rem(8px);
}

td.tabla-renovaciones__cell.tabla-renovaciones__cell--importe {
  font-weight: 700;
  font-size: rem(16px);
  letter-spacing: 0;
}

@media (max-width: $mobilexlMax) {
  table.tabla-renovaciones {
    border-collapse: collapse;
    border-spacing: 0;
  }

  thead.tabla-renovaciones__head {
    display: none;
  }

  tr.tabla-renovaciones__row {
    display: grid;
    
    grid-template-columns: 1fr;
    height: auto;
    margin-bottom: rem(24px);
    border-radius: rem(8px);
    padding: rem(16px);
    background-color: $white;
    box-shadow: 0 rem(4px) rem(8px) 0 rgba(55, 70, 73, 0.2);
  }

  td.tabla-renovaciones__cell {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: rem(10px) 0;
    font-size: rem(16px);
    font-weight: 400;
    margin-bottom: rem(4px);  
  }

  td.tabla-renovaciones__cell:first-child,
  td.tabla-renovaciones__cell:last-child {
    border-radius: 0;
  }

  td.tabla-renovaciones__cell::before {
    content: attr(data-label);
    display: block;          
    margin-bottom: 0;
    font-weight: 400;
    font-size: rem(16px);
    color: #6B7280;
    text-transform: none;
  }

 
}

// Botón
.renovaciones__actions {
  //margin-top: rem(40px); 
  text-align: left;     

  .boton-ver-todas {
    display: inline-block;
    box-sizing: border-box;
    width: rem(100px);      
    height: rem(39px);     
    border-radius: rem(8px);
    background-color: #CFE1F1;
    color: #191C3D;         

    margin: rem(10px) rem(16px) rem(10px) rem(8px);
    line-height: rem(39px); 
    text-align: center;
    font-family: $font-family-roboto;
    font-weight: 400;
    font-size: rem(16px);
    line-height: 1;         
    letter-spacing: 0;
    text-decoration: none;
    border: none;
    cursor: pointer;
  }
}


// Estados
span.badge-estado {
  display: inline-flex;
  align-items: center;
  gap: rem(8px);
  padding: rem(4px) rem(12px);
  border-radius: rem(20px);
  font-size: rem(16px);
  font-weight: 500;
}

span.badge-estado.badge-estado--pendiente {
  background-color: #FFE74F66;
  color: #405258;
}

span.badge-estado.badge-estado--pagada {
  background-color: rgba(87, 174, 96, 0.15); 
  color: #03543F;
}

span.badge-estado--pendiente i.icon-clock {
  color: #92400E;
}

span.badge-estado--pagada i.icon-check {
  color: #03543F;
}

@media (max-width: $mobilexlMax) {
  span.badge-estado {
    align-self: flex-start;
    width: fit-content;
  }
}